<div class="row">
    <div class="col text-center mt-4 mb-4">
        <h2>Listado de países</h2>
    </div>
</div>
<div class="row">
    <div class="col me-5 ms-5">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Código</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pais of paises; let i = index">
                    <td>{{i+1}}.</td>
                    <td>{{pais.Pais}}</td>
                    <td>{{pais.NomPais}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="d-flex justify-content-end">
    <div class="me-5">
        <button class="btn btn-danger" [routerLink]="['']">Regresar</button>
    </div>
</div>