<div class="row mt-5 ms-5 me-5">
    <div class="col">
        <div class="card">
            <div class="card-header">
              Consultar Paises
            </div>
            <div class="card-body">
              <div class="lottie">
                <lottie-player
                autoplay
                loop
                speed="1"
                src="assets/lotties/pais.json"
                style="width: auto;"
                >
                </lottie-player>
              </div>
              <button class="btn btn-warning" [routerLink]="['pais']">Paises</button>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
              Consultar Departamentos
            </div>
            <div class="card-body">
              <div class="lottie">
                <lottie-player
                autoplay
                loop
                speed="1"
                src="assets/lotties/departamento.json"
                style="width: auto"
                >
                </lottie-player>
              </div>
              <button class="btn btn-warning" [routerLink]="['departamento']">Departamentos</button>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
              Consultar Personas
            </div>
            <div class="card-body">
              <div class="lottie">
                <lottie-player
                autoplay
                loop
                speed="1"
                src="assets/lotties/persona.json"
                style="width: auto"
                >
                </lottie-player>
              </div>
              <button class="btn btn-warning" [routerLink]="['persona']">Personas</button>
            </div>
          </div>
    </div>
</div>